/*  Used to manage your own custom styles  */

/*  Used to manage your own mobile styles  */
/*  iPhone-horizontal */
@media screen and (max-width: 630px) {

}
/*  iPhone-vertical */
@media screen and (max-width: 480px) {

}

/* admin-menu fix */
#admin-menu{
	z-index: 1001;
}

/* toolbar fix */
#toolbar{
	z-index: 1004;
}

/* overlay fix */
#overlay-container, .overlay-modal-background{
    z-index: 1002;
}

.overlay-element{
    z-index: 1003;
}

html.overlay-open body{
    top: 0 !important;
    margin-top: 60px !important;
	position: inherit !important;
}

/* override system.css for error message */
div.error {
    background: url("../images/error-bg.png") no-repeat scroll 2% 50% #FFE6E5;
    border: 1px solid #DFA19F;
    color: #660000;
}

/* avoid error images to show in input fields */
input.error{
    background: none;
}

/* set warning to the style of .message in uni template */
div.warning {
    display: block;
    background: #F9F9F9 url("../images/message-bg.png") 2% 50% no-repeat;
    padding: 25px 20px 25px 95px;
    margin: 0 0 20px;
    border: 1px solid #C6C6C6;
    color: #444;
}

/* set status to the style of .alert in uni template */
div.status{
    color: #024;
    background: #FAFCFF url("../images/alert-bg.png") 2% 50% no-repeat;
    border: 1px solid #AFC4E4;
}

/* Left align form labels. We use .form-item to distinguish drupal form from uni form */
form .form-item label{
    text-align: left;
}