/*  Used to manage your own custom styles  */

/*  Used to manage your own mobile styles  */
/*  iPhone-horizontal */
@media screen and (max-width: 630px) {

}
/*  iPhone-vertical */
@media screen and (max-width: 480px) {

}

/* admin-menu fix */
#admin-menu{
	z-index: 1001;
}

/* toolbar fix */
#toolbar{
	z-index: 1001;
    border: 1px solid #0f0;
}